<!doctype html>
<html lang='zh-cn'>
<head>
  {% block head %}
  <!-- 引入bootstrap -->
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
    * width=device-width 表示宽度是设备屏幕的宽度
    * initial-scale=1 表示初始的缩放比例
    * shrink-to-fit=no 自动适应手机屏幕的宽度
  -->
  {{ bootstrap.load_css()}}
  {% block style%}
  {% endblock %}

  <title>{{HTML_TITLE}}</title>
  {%endblock%}
</head>
<body>

  {% from 'bootstrap/nav.html' import render_nav_item %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <!-- <a class='navbar-brand' href='#'><img src='https://www.allcitygo.com/static/img/home/h_12.png'/></a> -->
    <div class="navbar-nav mr-auto">
      {{ render_nav_item('tklc.main', 'Dashboard') }}
      {{ render_nav_item('tklc.axure', 'Axure') }}
    </div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="请输入内容" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>

  <div class='container-fluid'>
    {% block content %}
    {% endblock %}
  </div>

  {{ bootstrap.load_js() }}
  {% block script %}
  {% endblock %}
</body>
</html>
